<div class="row" style="padding-top:10px;">
          <div class="col-sm-12"><h3>标签</h3></div>
    </div>
    <div class="row" style="padding-top:10px;">
		<div class="col-sm-12">
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="must.html">从业必备</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="javacript.html">JaveScript</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="java.html">Java</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="webtech.html">Web</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="candcplusplus.html">C/C++</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="design.html">设计模式</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="refactory.html">重构</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="database.html">数据库</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="cshapandnettech.html">.Net</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="computernetwork.html">计算机网络</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="developmodel.html">开发模型</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="softwarearchtecre.html">软件架构</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="os.html">操作系统</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="ulinandlinux.html">Unix/Linux</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="windows.html">Windows</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="softwaredesign.html">软件设计</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="rebyandperl.html">Ruby/Perl</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="game.html">游戏</a>
			
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="bigdata.html">大数据</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="imageprocessing.html">图像处理</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="algorithm.html">算法</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="applysicret.html">应用密码学</a>
			<a class="btn btn-default btn-sm" style="margin:5px;"  href="alwaysgoodbobks.html">同样是好书</a>
		</div>
	</div>